/* Container principal */
.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 80px auto;
}

.login-container h2 {
    margin-bottom: 20px;
    color: rgb(184, 115, 51);
}

/* Formulário */
.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
}

.login-container button {
    padding: 10px;
    background-color: rgb(184, 115, 51);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #ffffff;
    border: 1.5px solid rgb(150, 90, 45);
    color: rgb(150, 90, 45);
}

/* Mensagem de erro */
.error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

/* Link para recuperação de senha */
.signup {
    margin-top: 15px;
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.signup a {
    color: rgb(184, 115, 51);
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    .login-container input,
    .login-container button {
        font-size: 14px;
        padding: 8px;
    }
}